<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="tituloprincipal">EDITANDO EVENTO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">

  </ion-header>
</ion-content>


<ion-card>
  <ion-card-header>
    <ion-card-title> Editando un evento </ion-card-title>
  </ion-card-header>

  <ion-card-content>
    
    <ion-item>
      <ion-label position="stacked">Re-ingrese el título de su evento: </ion-label>
      <ion-input type="text" placeholder="..."></ion-input>
    </ion-item>


    <ion-item>
      <ion-label position="stacked">Re-ingrese la descripción de su evento: </ion-label>
      <ion-input type="text" placeholder="..."></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Re-ingrese la fecha de su evento: </ion-label>
      <ion-input type="text" placeholder="..."></ion-input>
    </ion-item>
  </ion-card-content>

  <ion-button style="margin-left: 120px;" (click)="editar()"  fill="solid" size="small" >
    CONFIRMAR
  </ion-button>
  <br>
  <br>
  
</ion-card>








<!--FOOTER-->
<ion-footer>
  <ion-toolbar>
    <ion-title style="font-size: small; margin-left: -10px;">Eventos DuocUc Sede Maipú 2024</ion-title>
    <ion-buttons slot="end">

      <ion-button fill="clear">
        <ion-icon name="logo-instagram"></ion-icon>
      </ion-button>

      <ion-button fill="clear">
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-button>

      <ion-button fill="clear">
        <ion-icon name="logo-twitter"></ion-icon>
      </ion-button>


    </ion-buttons>
  </ion-toolbar>
</ion-footer>
