<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="end">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="end" name="menu-outline" size="large" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="tituloprincipal">Código reserva usuarios</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">tab4</ion-title>

      
    </ion-toolbar>
  </ion-header>
  <br>
  <ion-title class="mensaje">Escanear el QR de cada usuario.</ion-title>
  <br>
  
  <ion-button (click)="scanQr()"  expand="block" fill="clear" shape="round">
    <ion-img style="width: 50pt; height: 50pt;" src="assets/cam.png"></ion-img>
  </ion-button>
  <br>
  <br>

  
  <div *ngIf="aux">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Datos del QR</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p *ngFor="let d of scannedData">{{d}}</p>
      </ion-card-content>
    </ion-card>
  </div>
  
</ion-content>
