ion-card-title{
    text-align: center;
    font-size: 20pt;
    font-weight: bold;
}

ion-card{
    margin-top: 30%;
}

.tituloprincipal{
    font-weight: bold;
    text-align: center;
    font-size: 20pt;
    font-family: 'Times New Roman';
}