<ion-header [translucent]="true">
  <ion-toolbar >
    
    <ion-buttons slot="end">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="end" name="menu-outline" size="large" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="tituloprincipal">
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 1 page"></app-explore-container>




    <ion-card>
      <ion-card-header>
        <ion-card-title> Login </ion-card-title>
      </ion-card-header>
      
    <ion-card-content>
      <form [formGroup]="loginForm">
        <ion-item>
          <ion-label position="stacked">Correo Electrónico</ion-label>
          <ion-input type="email" placeholder="Ingrese su correo" formControlName="correo"></ion-input>
        </ion-item>

        <div id="alerta" *ngIf="loginForm.get('correo')?.invalid && (loginForm.get('correo')?.dirty || loginForm.get('correo')?.touched)">
          <div id="alerta" *ngIf="loginForm.get('correo')?.hasError('required')">
            * El correo es obligatorio
          </div>
          <div id="alerta" *ngIf="loginForm.get('correo')?.hasError('email')">
            * Debe ingresar un correo válido
          </div>
        </div>

        <ion-item>
          <ion-label position="stacked">Password</ion-label>
          <ion-input type="password" placeholder="Ingrese su password" formControlName="password"></ion-input>
        </ion-item>

        <div id="alerta" *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)">
          <div id="alerta" *ngIf="loginForm.get('password')?.hasError('required')">
            * La contraseña es obligatoria
          </div>
          <div id="alerta" *ngIf="loginForm.get('password')?.hasError('minlength')">
            * Debe ingresar 8 carácteres mínimo
          </div>
        </div>
      </form>
    </ion-card-content>

    <div style="text-align: center;">
      <ion-button (click)="login()" fill="solid" shape="round" color="warning">
        Login
      </ion-button>
      <br>
      <br>

    <ion-button fill="clear" shape="round" color="secondary" [routerLink]="['/tabs/tab2']">
      ¿No tienes cuenta? Regístrate aquí.
    </ion-button>

    </div>

  </ion-card>
</ion-content>
<br>
<br>
<br>



<!--FOOTER-->
<ion-footer>
  <ion-toolbar>
    <ion-title style="font-size: small; margin-left: -10px;">Eventos DuocUc Sede Maipú 2024</ion-title>
    <ion-buttons slot="end">

      <ion-button fill="clear">
        <ion-icon name="logo-instagram"></ion-icon>
      </ion-button>

      <ion-button fill="clear">
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-button>

      <ion-button fill="clear">
        <ion-icon name="logo-twitter"></ion-icon>
      </ion-button>


    </ion-buttons>
  </ion-toolbar>
</ion-footer>

