<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="end" name="menu-outline" size="large" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>

    
    <ion-title>Eventos</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  

  <ion-card *ngFor="let e of eventos" >
    <ion-card-header>
      <ion-card-title>{{e.titulo}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <!-- Mostrar imagen del evento -->
      <img [src]="e.imagen" alt="{{e.titulo}}" style="width: 100%; height: auto; margin-bottom: 15px;">

      <!-- Mostrar descripción del evento -->
      <p>{{e.descripcion}}</p><br>
      <p><strong>Fecha: {{e.fecha}}</strong></p>
      <p><strong>Lugar/Plataforma: {{e.lugar}}</strong></p>
    </ion-card-content>

    <div style="text-align: right; padding-right: 15px; padding-bottom: 15px;">
      <ion-button  fill="solid">
        Agendar
      </ion-button>
    </div>
  </ion-card>