<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Eventos</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">

  <div style="text-align: center; padding-bottom: 15px;" >
    <ion-button (click)="CrearEvento()" fill="solid">
      Crear evento
    </ion-button>
  </div>



  <!--Modificar color de botones hacer "scroll infinito"-->
  <ion-card>

    <ion-card-header>
      <ion-card-title>Eventos destacados</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      
      <swiper-container pagination="true" navigation="true">
        <swiper-slide *ngFor="let image of images" >
          <img [src]="image" alt="Imagen" style="width: 500px;max-width: 100%;height: 300px; max-height: 100%;" >
        </swiper-slide>
      </swiper-container>

    </ion-card-content>

  </ion-card>




<ion-card class="eventos" *ngFor="let e of eventos">
  


  <ion-card-header>
    <ion-card-title>{{e.titulo}}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <!-- Mostrar imagen del evento -->
    <img [src]="e.imagen" alt="{{e.titulo}}" style="width: 100%; height: auto; margin-bottom: 15px;">

    <!-- Mostrar descripción del evento -->
    <p>{{e.descripcion}}</p><br>
    <p><strong>Fecha: {{e.fecha}}</strong></p>
    <p><strong>Lugar/Plataforma: {{e.lugar}}</strong></p>

  </ion-card-content>

  <div style="text-align: center; padding-bottom: 15px;" >
    <ion-button (click)="actualizarEvento(e)" fill="solid">
      Modificar
    </ion-button>
  </div>

</ion-card>



</ion-content>