<ion-header [translucent]="true">
  <ion-header-bar class="bar-balanced">
    
  </ion-header-bar>
  <ion-toolbar>
    
    
    
    <ion-buttons slot="end">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="end" name="menu-outline" size="large" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
    
    <ion-title class="tituloprincipal">EVENTOS DUOC UC SEDE MAIPÚ</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">index</ion-title>
    </ion-toolbar>
  </ion-header>
  <br>
  <div id="container">
  <h1>¡Bienvenido a los eventos de Duoc UC Sede Maipú! </h1>
  <br>
  </div>

  <div>
    <ion-img src="/assets/image/collage.jpg"></ion-img>
  </div>
  
  <hr>
  
  <div  id="texto"> 
    <p>En Duoc UC ofrecemos talleres, seminarios y actividades que complementan tu formación con habilidades prácticas y conocimientos actualizados. Conecta con profesionales de la industria, aprende nuevas tendencias tecnológicas y desarrolla tus habilidades personales. ¡Participa y crece con nosotros!
    </p>
  </div>
  
</ion-content>


<!--FOOTER-->
<ion-footer>
  <ion-toolbar>
  <ion-title style="font-size: small; margin-left: -10px;">Eventos DuocUc Sede Maipú 2024</ion-title>
  <ion-buttons slot="end">
  
    <ion-button fill="clear">
      <ion-icon name="logo-instagram"></ion-icon>
    </ion-button>
  
    <ion-button fill="clear">
      <ion-icon name="logo-facebook"></ion-icon>
    </ion-button>
  
    <ion-button fill="clear">
      <ion-icon name="logo-twitter"></ion-icon>
    </ion-button>
  
  
  </ion-buttons>
  </ion-toolbar>
  </ion-footer>